<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xgs.flutter_live">

    <application
        android:icon="@mipmap/ic_launcher"
       >

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".BJYVideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/FullScreenTheme" />
    </application>
</manifest>
